.Rproj.user
.Rhistory
.RData
.Ruserdata
#R basics
.Rproj.user
.Rhistory
.RData
.Ruserdata
#no data
*.txt
*.rds
*.xls
*.zip
*.png
*.twbx
*.pptx
solutions.R
read_transform_export.R

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*
Data/*